<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Producto</th>
        </tr>
    </thead>

    <tbody>
        @if (listFacturacion.length > 0) {
        @for (factura of listFacturacion; track $index){
        <tr>
            <td>{{factura.id}}</td>
            <td>{{factura.fecha}}</td>
            <td>{{factura.precio}}</td>
            <td>{{factura.producto}}</td>
        </tr>
        }
        }
    </tbody>
</table>